.diary__dailyWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.diary__dailyPFCK {
  display: flex;
  padding: 20px 62px 20px 30px;
  background-color: white;
  border-radius: 12px;
  gap: 15px;
}

.diary__dailyPFCKIcon {
  padding-left: 10px;
  width: 40px;
  height: 40px;
  background-color: #e6e6e6;
}

.diary__dailyPFCKText {
  display: flex;
  flex-direction: column-reverse;
}

.diary__dailyPFCK p {
  font-size: 12px;
  color: rgb(140, 140, 140);

}

.diary__dailyPFCK span {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}